#exercises-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

.exercise-item{
    display: inherit;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.exercise-icon{
    max-width: 3rem;
    height: auto;
    border-radius: 0.5rem;
}

.exercise-details {
    display: flex; flex-direction: column;
    gap: 0.25rem;
}

.exercise-types {
    display: flex; flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

.add-exercise-btn {
    position: absolute;
    right: 1rem;
}