#food-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.food-item {
    display: flex; flex-direction: row;
    position: relative;
    align-items: center;
}

.food-icon {
    max-width: 3rem;
    height: auto;
    border-radius: 0.5rem;
}

.food-details {
    display: flex; flex-direction: column;
}

.food-macros {
    display: flex; flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

.add-food-btn {
    position: absolute;
    right: 1rem;
}