#name-container {
    height: 5rem;
    justify-content: center;
}

.name {
    font-size: 1.5rem;
}

#settings-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.settings-item {
    width: auto;
}