#name-container {
    margin-top: 4rem;
    justify-content: center;
}

.name {
    font-size: 1.5rem;
}

#settings-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.settings-item {
    width: auto;
}

.profile-picture {
    width: 10rem;
    height: auto;
    border-radius: 1rem;
    border: 2px solid var(--primary);
}

.file-input {
    visibility: hidden;
    width: 0;
    height: 0;
}